@import 'tailwindcss';

@import '@skeletonlabs/skeleton';

@import './ntmd-theme';
@import '@skeletonlabs/skeleton/themes/catppuccin';
@import '@skeletonlabs/skeleton/themes/cerberus';
@import '@skeletonlabs/skeleton/themes/concord';
@import '@skeletonlabs/skeleton/themes/crimson';
@import '@skeletonlabs/skeleton/themes/fennec';
@import '@skeletonlabs/skeleton/themes/hamlindigo';
@import '@skeletonlabs/skeleton/themes/legacy';
@import '@skeletonlabs/skeleton/themes/mint';
@import '@skeletonlabs/skeleton/themes/modern';
@import '@skeletonlabs/skeleton/themes/mona';
@import '@skeletonlabs/skeleton/themes/nosh';
@import '@skeletonlabs/skeleton/themes/nouveau';
@import '@skeletonlabs/skeleton/themes/pine';
@import '@skeletonlabs/skeleton/themes/reign';
@import '@skeletonlabs/skeleton/themes/rocket';
@import '@skeletonlabs/skeleton/themes/rose';
@import '@skeletonlabs/skeleton/themes/sahara';
@import '@skeletonlabs/skeleton/themes/seafoam';
@import '@skeletonlabs/skeleton/themes/terminus';
@import '@skeletonlabs/skeleton/themes/vintage';
@import '@skeletonlabs/skeleton/themes/vox';
@import '@skeletonlabs/skeleton/themes/wintry';

@import '@skeletonlabs/skeleton-svelte';

.transparent-mode html,
.transparent-mode body {
  background: transparent !important;
}

.preset-glass {
  background: color-mix(in oklab, var(--color-surface-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-neutral {
  background: color-mix(in oklab, var(--color-surface-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-primary {
  background: color-mix(in oklab, var(--color-primary-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-primary-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-secondary {
  background: color-mix(in oklab, var(--color-secondary-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-secondary-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-tertiary {
  background: color-mix(in oklab, var(--color-tertiary-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-tertiary-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-success {
  background: color-mix(in oklab, var(--color-success-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-success-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-warning {
  background: color-mix(in oklab, var(--color-warning-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-warning-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-error {
  background: color-mix(in oklab, var(--color-error-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-error-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}
.preset-glass-surface {
  background: color-mix(in oklab, var(--color-surface-500) 40%, transparent);
  box-shadow: 0 0px 30px color-mix(in oklab, var(--color-surface-500) 50%, transparent) inset;
  backdrop-filter: blur(16px);
}

.preset-gradient {
  background-image: linear-gradient(135deg, var(--color-surface-800) 60%, var(--color-surface-600));
  box-shadow: 0 0 24px color-mix(in oklab, var(--color-surface-800) 30%, transparent);
}

.preset-gradient-one {
  background-image: linear-gradient(90deg, var(--color-surface-950), var(--color-surface-950));
  color: var(--color-surface-contrast-950);
}

.preset-gradient-two {
  background-image: linear-gradient(180deg, var(--color-primary-800), var(--color-primary-900));
  color: var(--color-surface-contrast-950);
}

.preset-gradient-three {
  background-image: linear-gradient(90deg, var(--color-surface-600), var(--color-surface-800));
  color: var(--color-surface-contrast-600);
}

.preset-gradient-four {
  background-image: linear-gradient(90deg, var(--color-primary-600), var(--color-primary-800));
  color: var(--color-primary-contrast-600);
}

.preset-gradient-five {
  background-image: linear-gradient(90deg, var(--color-primary-900), var(--color-primary-800));
  color: var(--color-primary-contrast-800);
}

.preset-gradient-six {
  background-image: linear-gradient(90deg, var(--color-surface-900), var(--color-surface-800));
  color: var(--color-surface-contrast-800);
}

.preset-gradient-seven {
  background-image: linear-gradient(180deg, var(--color-primary-900), var(--color-primary-800));
  color: var(--color-primary-contrast-950);
}