[data-theme='Firow'] {
	--text-scaling: 1.067;
	--base-font-color: var(--color-surface-950);
	--base-font-color-dark: var(--color-surface-50);
	--base-font-family: system-ui, sans-serif;
	--base-font-size: inherit;
	--base-line-height: inherit;
	--base-font-weight: normal;
	--base-font-style: normal;
	--base-letter-spacing: 0em;
	--heading-font-color: inherit;
	--heading-font-color-dark: inherit;
	--heading-font-family: inherit;
	--heading-font-weight: bold;
	--heading-font-style: normal;
	--heading-letter-spacing: inherit;
	--anchor-font-color: var(--color-primary-500);
	--anchor-font-color-dark: var(--color-primary-500);
	--anchor-font-family: inherit;
	--anchor-font-size: inherit;
	--anchor-line-height: inherit;
	--anchor-font-weight: inherit;
	--anchor-font-style: inherit;
	--anchor-letter-spacing: inherit;
	--anchor-text-decoration: none;
	--anchor-text-decoration-hover: underline;
	--anchor-text-decoration-active: none;
	--anchor-text-decoration-focus: none;
	--spacing: 0.25rem;
	--radius-base: 0.25rem;
	--radius-container: 0.125rem;
	--default-border-width: 1px;
	--default-divide-width: 1px;
	--default-ring-width: 1px;
	--body-background-color: var(--color-surface-50);
	--body-background-color-dark: var(--color-surface-950);
	--color-primary-50: oklch(93.41% 0.04 2.54deg);
	--color-primary-100: oklch(85.63% 0.08 5.53deg);
	--color-primary-200: oklch(78.32% 0.13 6.9deg);
	--color-primary-300: oklch(72.11% 0.18 10.07deg);
	--color-primary-400: oklch(67.22% 0.22 13.54deg);
	--color-primary-500: oklch(64.22% 0.25 18.73deg);
	--color-primary-600: oklch(60.02% 0.23 18.64deg);
	--color-primary-700: oklch(55.8% 0.21 18.62deg);
	--color-primary-800: oklch(51.28% 0.19 18.02deg);
	--color-primary-900: oklch(46.89% 0.18 17.94deg);
	--color-primary-950: oklch(42.34% 0.16 17.7deg);
	--color-primary-contrast-dark: var(--color-primary-950);
	--color-primary-contrast-light: var(--color-primary-50);
	--color-primary-contrast-50: var(--color-primary-contrast-dark);
	--color-primary-contrast-100: var(--color-primary-contrast-dark);
	--color-primary-contrast-200: var(--color-primary-contrast-dark);
	--color-primary-contrast-300: var(--color-primary-contrast-dark);
	--color-primary-contrast-400: var(--color-primary-contrast-dark);
	--color-primary-contrast-500: var(--color-primary-contrast-light);
	--color-primary-contrast-600: var(--color-primary-contrast-light);
	--color-primary-contrast-700: var(--color-primary-contrast-light);
	--color-primary-contrast-800: var(--color-primary-contrast-light);
	--color-primary-contrast-900: var(--color-primary-contrast-light);
	--color-primary-contrast-950: var(--color-primary-contrast-light);
	--color-secondary-50: oklch(91.53% 0.05 357.63deg);
	--color-secondary-100: oklch(81.66% 0.07 358.81deg);
	--color-secondary-200: oklch(71.81% 0.1 0.28deg);
	--color-secondary-300: oklch(62.48% 0.13 2.97deg);
	--color-secondary-400: oklch(53.49% 0.16 6.15deg);
	--color-secondary-500: oklch(45.92% 0.17 11.84deg);
	--color-secondary-600: oklch(42.41% 0.16 11.27deg);
	--color-secondary-700: oklch(39% 0.14 11.42deg);
	--color-secondary-800: oklch(35.29% 0.13 10.45deg);
	--color-secondary-900: oklch(31.72% 0.11 10.55deg);
	--color-secondary-950: oklch(27.89% 0.1 9.37deg);
	--color-secondary-contrast-dark: var(--color-secondary-950);
	--color-secondary-contrast-light: var(--color-secondary-50);
	--color-secondary-contrast-50: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-100: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-200: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-300: var(--color-secondary-contrast-dark);
	--color-secondary-contrast-400: var(--color-secondary-contrast-light);
	--color-secondary-contrast-500: var(--color-secondary-contrast-light);
	--color-secondary-contrast-600: var(--color-secondary-contrast-light);
	--color-secondary-contrast-700: var(--color-secondary-contrast-light);
	--color-secondary-contrast-800: var(--color-secondary-contrast-light);
	--color-secondary-contrast-900: var(--color-secondary-contrast-light);
	--color-secondary-contrast-950: var(--color-secondary-contrast-light);
	--color-tertiary-50: oklch(91.92% 0.05 339.62deg);
	--color-tertiary-100: oklch(80.53% 0.07 340.22deg);
	--color-tertiary-200: oklch(68.84% 0.08 340.98deg);
	--color-tertiary-300: oklch(56.57% 0.1 341.31deg);
	--color-tertiary-400: oklch(44.43% 0.11 343.11deg);
	--color-tertiary-500: oklch(32.78% 0.12 346.68deg);
	--color-tertiary-600: oklch(30.89% 0.11 346.88deg);
	--color-tertiary-700: oklch(29.02% 0.11 346.22deg);
	--color-tertiary-800: oklch(26.99% 0.1 346.28deg);
	--color-tertiary-900: oklch(25.06% 0.09 345.41deg);
	--color-tertiary-950: oklch(23.05% 0.08 345.57deg);
	--color-tertiary-contrast-dark: var(--color-tertiary-950);
	--color-tertiary-contrast-light: var(--color-tertiary-50);
	--color-tertiary-contrast-50: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-100: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-200: var(--color-tertiary-contrast-dark);
	--color-tertiary-contrast-300: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-400: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-500: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-600: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-700: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-800: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-900: var(--color-tertiary-contrast-light);
	--color-tertiary-contrast-950: var(--color-tertiary-contrast-light);
	--color-success-50: oklch(93.62% 0.1 153.32deg);
	--color-success-100: oklch(87.74% 0.12 152.63deg);
	--color-success-200: oklch(81.83% 0.13 152.05deg);
	--color-success-300: oklch(75.75% 0.15 150.85deg);
	--color-success-400: oklch(69.98% 0.16 149.79deg);
	--color-success-500: oklch(64.39% 0.17 148.26deg);
	--color-success-600: oklch(58.66% 0.15 148.27deg);
	--color-success-700: oklch(53.11% 0.14 148.34deg);
	--color-success-800: oklch(47.09% 0.12 148.36deg);
	--color-success-900: oklch(41.2% 0.11 148.48deg);
	--color-success-950: oklch(34.74% 0.09 148.54deg);
	--color-success-contrast-dark: var(--color-success-950);
	--color-success-contrast-light: var(--color-success-50);
	--color-success-contrast-50: var(--color-success-contrast-dark);
	--color-success-contrast-100: var(--color-success-contrast-dark);
	--color-success-contrast-200: var(--color-success-contrast-dark);
	--color-success-contrast-300: var(--color-success-contrast-dark);
	--color-success-contrast-400: var(--color-success-contrast-dark);
	--color-success-contrast-500: var(--color-success-contrast-dark);
	--color-success-contrast-600: var(--color-success-contrast-light);
	--color-success-contrast-700: var(--color-success-contrast-light);
	--color-success-contrast-800: var(--color-success-contrast-light);
	--color-success-contrast-900: var(--color-success-contrast-light);
	--color-success-contrast-950: var(--color-success-contrast-light);
	--color-warning-50: oklch(96.43% 0.05 92.15deg);
	--color-warning-100: oklch(92.05% 0.07 91.8deg);
	--color-warning-200: oklch(87.49% 0.09 90.82deg);
	--color-warning-300: oklch(83.28% 0.11 89.86deg);
	--color-warning-400: oklch(78.83% 0.13 88.52deg);
	--color-warning-500: oklch(74.67% 0.14 86.9deg);
	--color-warning-600: oklch(69.31% 0.13 86.99deg);
	--color-warning-700: oklch(63.95% 0.12 86.51deg);
	--color-warning-800: oklch(58.58% 0.11 87.29deg);
	--color-warning-900: oklch(52.98% 0.1 86.72deg);
	--color-warning-950: oklch(47.1% 0.09 86.81deg);
	--color-warning-contrast-dark: var(--color-warning-950);
	--color-warning-contrast-light: var(--color-warning-50);
	--color-warning-contrast-50: var(--color-warning-contrast-dark);
	--color-warning-contrast-100: var(--color-warning-contrast-dark);
	--color-warning-contrast-200: var(--color-warning-contrast-dark);
	--color-warning-contrast-300: var(--color-warning-contrast-dark);
	--color-warning-contrast-400: var(--color-warning-contrast-dark);
	--color-warning-contrast-500: var(--color-warning-contrast-dark);
	--color-warning-contrast-600: var(--color-warning-contrast-light);
	--color-warning-contrast-700: var(--color-warning-contrast-light);
	--color-warning-contrast-800: var(--color-warning-contrast-light);
	--color-warning-contrast-900: var(--color-warning-contrast-light);
	--color-warning-contrast-950: var(--color-warning-contrast-light);
	--color-error-50: oklch(80.85% 0.11 16.26deg);
	--color-error-100: oklch(75.33% 0.13 20.08deg);
	--color-error-200: oklch(70.22% 0.15 22.78deg);
	--color-error-300: oklch(65.33% 0.18 25.62deg);
	--color-error-400: oklch(61.12% 0.2 27.76deg);
	--color-error-500: oklch(57.43% 0.21 29.52deg);
	--color-error-600: oklch(52.79% 0.19 29.39deg);
	--color-error-700: oklch(48.12% 0.18 29.42deg);
	--color-error-800: oklch(43.06% 0.16 29.24deg);
	--color-error-900: oklch(38.12% 0.14 29.26deg);
	--color-error-950: oklch(32.94% 0.12 28.95deg);
	--color-error-contrast-dark: var(--color-error-950);
	--color-error-contrast-light: var(--color-error-50);
	--color-error-contrast-50: var(--color-error-contrast-dark);
	--color-error-contrast-100: var(--color-error-contrast-dark);
	--color-error-contrast-200: var(--color-error-contrast-dark);
	--color-error-contrast-300: var(--color-error-contrast-dark);
	--color-error-contrast-400: var(--color-error-contrast-dark);
	--color-error-contrast-500: var(--color-error-contrast-dark);
	--color-error-contrast-600: var(--color-error-contrast-light);
	--color-error-contrast-700: var(--color-error-contrast-light);
	--color-error-contrast-800: var(--color-error-contrast-light);
	--color-error-contrast-900: var(--color-error-contrast-light);
	--color-error-contrast-950: var(--color-error-contrast-light);
	--color-surface-50: oklch(57.87% 0.23 259.64deg);
	--color-surface-100: oklch(51.91% 0.2 259.33deg);
	--color-surface-200: oklch(45.86% 0.18 259.01deg);
	--color-surface-300: oklch(39.3% 0.15 258.69deg);
	--color-surface-400: oklch(32.78% 0.12 257.94deg);
	--color-surface-500: oklch(25.84% 0.09 256.12deg);
	--color-surface-600: oklch(24.42% 0.08 255.59deg);
	--color-surface-700: oklch(22.99% 0.08 254.93deg);
	--color-surface-800: oklch(21.16% 0.07 254.57deg);
	--color-surface-900: oklch(19.67% 0.06 253.57deg);
	--color-surface-950: oklch(18.15% 0.05 252.22deg);
	--color-surface-contrast-dark: var(--color-surface-950);
	--color-surface-contrast-light: var(--color-surface-50);
	--color-surface-contrast-50: var(--color-surface-contrast-dark);
	--color-surface-contrast-100: var(--color-surface-contrast-dark);
	--color-surface-contrast-200: var(--color-surface-contrast-dark);
	--color-surface-contrast-300: var(--color-surface-contrast-light);
	--color-surface-contrast-400: var(--color-surface-contrast-light);
	--color-surface-contrast-500: var(--color-surface-contrast-light);
	--color-surface-contrast-600: var(--color-surface-contrast-light);
	--color-surface-contrast-700: var(--color-surface-contrast-light);
	--color-surface-contrast-800: var(--color-surface-contrast-light);
	--color-surface-contrast-900: var(--color-surface-contrast-light);
	--color-surface-contrast-950: var(--color-surface-contrast-light);
}